.plot {
    font-style: italic;
}

.rating_modal {
    font-size: 20px;
    border-right: 40px solid silver;
}

.details {
    font-size: 25px;
    font-weight: bold;
    /* font-style: italic; */
    width: 95%;
    background-color: whitesmoke;
}

.title {
    font-size: 45px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.plot {
    font-size: 18px;
}

.ratings {
    display: flex;
    flex-direction: row;
}