.main {
    padding: 30px;
    background-color: whitesmoke;
    margin-top: 10px;
    border-radius: 25px;
}

.err {
    font-size: 25px;
    font-weight: 300;
    color: red;
}

.rating {
    color: blue;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 4px;
    border-right: 1px solid silver;
}

.details_pageone {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}

.column {
    margin-top: 25px;
    background-color: rgb(228, 226, 226);
    padding: 25px;
    border-radius: 25px;
    border: 1px solid rgb(250, 250, 300);
}

.main {
    padding: 5px 30px;
    margin: 20px 0;
}